.content {
    align-items: center;
}

/*Иконка диалога*/
.dialogIcon {
    width: 80px;
    height: 80px;
}

/*Заголовок*/
.title {
    font-weight: bold;
    font-size: x-large;
    justify-self: start;
}

.logoContainer {
    justify-self: end;
}