.content {
    grid-area: cBody;
    height: stretch;
    padding: 8px 16px;
}

.grid {
    height: 100%;
    display: grid;
    grid-template-areas: 'contentData controlPanel';
    grid-template-columns: 10fr 2fr;
}
