.title {
    font-weight: bold;
}

.field {
    justify-self: end;
    text-align: end;
}

.value {
    font-weight: bold;
}

.locationTitleContainer {
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 1em;
}

.locationTitle {
    justify-self: end;
    text-align: end;
    margin-top: 1em;
}