:root {
  --colorMainDarkGrey: #4D4D4E;
  --colorMainBgGrey: #C4C4C4;
  --colorLightGrey: #E5E5E5;
  --colorGreen: #54B409;
  --colorLightGreen: #D3F1BB; 
  --colorLightBlue: #5D78BE;
  --colorLinkBlue: #123DD7;
  --colorLinkHoverBlue: #069;
  --colorLightYellow: #ffd966;
  --colorLightRed: #f66;
}